@import 'tailwindcss';

@layer base {
  ::-moz-selection, ::selection {
    background: green;
    color: white;
  }

  .row {
    @apply flex gap-3 lg:gap-6 w-fit 
  }

  .row > div {
    @apply font-medium text-white text-3xl bg-gray-700 border-2 border-black w-[80px] h-[80px] lg:w-[90px] lg:h-[90px] rounded-2xl flex justify-center items-center
  } 

  .btn {
    @apply cursor-pointer hover:brightness-[75%] active:brightness-[175%]
  }
}
